<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    

<% if(taco.owner.equals(user?.profile._id)) { %>
    <form action="/<%= taco._id%>?_method=PUT" method="POST"> 
        <label for="add taco "> add taco </label>
        <input  value="<%=taco.name%>" type="text" name ='name'>
        <input type="checkbox" name="tasty" >
       <button type="submit">EDIT</button>
    </form>
 <% } %>
 
 <% if (!(taco.owner.equals(user?.profile._id))) { %>
  <h2>you are not owner of this taco </h2>
 <% } %>
 
 


</main>

<%- include('../partials/footer') %>