<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h2>taco 3</h2>
  
 <div>
    <h3>taco name :</h3> <p><%= taco.name %>  </p>

 </div> 
 <div>
    <h3>taco owner name :</h3> <p><%= taco.owner.name%>  </p>
    
 </div> 

<% if (user) { %>
   <form action="/tacos/<%= taco._id%>?_method=DELETE" method="POST"> 
      
      <button type="submit" >DELETE</button>
   </form>
<% } %>
<% if (!user) { %>
   <h4>only users are allowed </h4>
 
<% } %>

</main>

<%- include('../partials/footer') %>